<div class="manceri">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <ng-container *ngIf="verModal">
    <div class="container-modal">
      <div class="content-modal">
        <div class="modal-header">
          <h1>{{ nombreProducto }}</h1>
          <div class="btn-cerrar">
            <button (click)="cerrarModal()">Cerrar</button>
          </div>
        </div>
        <div class="table-wrapper">
          <table
            *ngIf="redes && redes[valorIDRedRestado].productos"
            class="product-table"
          >
            <tbody>
              <ng-container
                *ngFor="let producto of redes[valorIDRedRestado].productos"
              >
                <ng-container
                  *ngFor="let productos_cantidad of producto.productos_cantidad"
                >
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  ></tr>
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  >
                    <td class="label">Cantidad:</td>
                    <td class="value">
                      <input
                        (change)="cambioCantidad($event)"
                        type="number"
                        value="{{ productos_cantidad.cantidad }}"
                      />
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  >
                    <td class="label">Precio: ARS$</td>
                    <td class="value">
                      <input
                        (change)="cambioPrecioARS($event)"
                        type="number"
                        value="{{ productos_cantidad.precio_ars }}"
                      />
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  >
                    <td class="label">Precio: USD$</td>
                    <td class="value">
                      <input
                        (change)="cambioPrecioUSD($event)"
                        type="number"
                        value="{{ productos_cantidad.precio_usd }}"
                      />
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  >
                    <td class="label">Precio: EUR$</td>
                    <td class="value">
                      <input
                        (change)="cambioPrecioEUR($event)"
                        type="number"
                        value="{{ productos_cantidad.precio_eur }}"
                      />
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                      compararClavesPrimarias(
                        valorIDProducto,
                        productos_cantidad.idProducto
                      )
                    "
                  >
                    <td colspan="2" class="actions">
                      <input
                        type="button"
                        class="boton"
                        style="background-color: #b08632"
                        name="editar"
                        id=""
                        value="Editar"
                        (click)="
                          editarProductoCantidad(
                            productos_cantidad.idProductoCantidad,
                            productos_cantidad.cantidad,
                            productos_cantidad.precio_ars,
                            productos_cantidad.precio_usd,
                            productos_cantidad.precio_eur
                          )
                        "
                      />
                      <input
                        type="button"
                        class="boton"
                        style="background-color: #952222"
                        name="eliminar"
                        id=""
                        value="Eliminar"
                        (click)="
                          eliminarProductoCantidad(
                            productos_cantidad.idProductoCantidad,
                            productos_cantidad.cantidad,
                            productos_cantidad.precio
                          )
                        "
                      />
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
          <div>
            <h2>Agregar Cantidad</h2>
            <p>
              Cantidad:
              <input
                type="text"
                name="cantidadNuevoProductoCantidad"
                [(ngModel)]="cantidadNuevoProductoCantidad"
                (click)="cantidadNuevoProductoCantidad = ''"
                placeholder="255"
              />
            </p>
            <p>
              Precio: ARS$<input
                type="number"
                name="precioNuevoProductoCantidad"
                [(ngModel)]="precioARSNuevoProductoCantidad"
                (click)="precioARSNuevoProductoCantidad = ''"
                placeholder="1130"
              />
            </p>
            <p>
              Precio: USD$<input
                type="number"
                name="precioUSDNuevoProductoCantidad"
                [(ngModel)]="precioUSDNuevoProductoCantidad"
                (click)="precioUSDNuevoProductoCantidad = ''"
                placeholder="1130"
              />
            </p>
            <p>
              Precio: EUR$<input
                type="number"
                name="precioEURNuevoProductoCantidad"
                [(ngModel)]="precioEURNuevoProductoCantidad"
                (click)="precioEURNuevoProductoCantidad = ''"
                placeholder="1130"
              />
            </p>
            <button (click)="agregarProductoCantidad()">
              Agregar Cantidad
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="verModalAdmin">
    <div class="container-modal">
      <div class="content-modal">
        <div class="modal-header">
          <h1>AGREGAR PRODUCTO</h1>
          <div class="btn-cerrar">
            <button (click)="cerrarModalAdmin()">Cerrar</button>
          </div>
        </div>
        <h2>Red Social</h2>
        <select
          *ngIf="redes"
          [(ngModel)]="valorIDRed"
          (change)="cambiarValorIDRed($event)"
        >
          <option *ngFor="let red of redes" [value]="red.idSocial">
            {{ red.nombre }}
          </option>
        </select>
        <form style="text-align: center;">
          <label>Nombre del producto:</label>
          <input
            type="text"
            [(ngModel)]="nombreProducto"
            name="nombreProducto"
            placeholder="Nombre del Producto"
          />
          <br />
          <label>Imagen:</label>
          <input type="file" (change)="cargarImagen($event)" />
          <div *ngIf="urlImagen"><img [src]="urlImagen" alt="Vista previa de la imagen"  style="width: 300px; height:300px; text-align: center;"/></div>
        </form>
        <button (click)="habilitarAgregarPrecios()">Agregar Precios</button>
        <div *ngIf="agregarPrecios">
          <form
            *ngFor="
              let precios of nuevoProducto.productos_cantidad;
              let i = index
            "
          >
            <label>Cantidad de {{ nombreProducto }}:</label>
            <input
              type="number"
              name="cantidad"
              (input)="guardarCantidad(i, $event)"
              placeholder="200"
            />
            <br />
            <label>Precio ARS:</label>
            <input
              type="number"
              name="precio"
              (input)="guardarPrecioARS(i, $event)"
              placeholder="3000"
            />
            <br />
            <label>Precio USD:</label>
            <input
              type="number"
              name="precio"
              (input)="guardarPrecioUSD(i, $event)"
              placeholder="3000"
            />
            <br />
            <label>Precio EUR:</label>
            <input
              type="number"
              name="precio"
              (input)="guardarPrecioEUR(i, $event)"
              placeholder="3000"
            />
            <br />
          </form>
        </div>
        <button type="submit" (click)="confirmarProducto()">
          Agregar Producto
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="verModalAdminRedSocial">
    <div class="container-modal">
      <div class="content-modal">
        <div class="modal-header">
          <h1>AGREGAR RED SOCIAL</h1>
          <div class="btn-cerrar">
            <button (click)="cerrarModalAdminRedSocial()">Cerrar</button>
          </div>
        </div>
        <h2>Red Social</h2>
        <form>
          <label>Nombre:</label>
          <input
            type="text"
            [(ngModel)]="nuevaRedSocial"
            name="nuevaRedSocial"
            placeholder="Nombre de la Red"
          />
          <br />
          <label>Imagen:</label>
          <input type="file" (change)="cargarImagenSocial($event)" />
          <img [src]="urlImagen" alt="Vista previa de la imagen" />
        </form>
        <button type="submit" (click)="confirmarRedSocial()">
          Agregar Red Social
        </button>
      </div>
    </div>
  </ng-container>

  <body class="bodyu">
    <div class="container-adminu">
      <h3>Administrador</h3>
      <button class="btnAgregarProductou" (click)="habilitarModalAdmin()">
        Agregar Producto
      </button>
      <button
        class="btnAgregarProductou"
        (click)="habilitarModalAdminRedSocial()"
      >
        Agregar Red Social
      </button>
      <h4>Seleccioná Red Social:</h4>
      <select
        class="selectu"
        *ngIf="redes"
        [(ngModel)]="valorIDRed"
        (change)="cambiarValorIDRed($event)"
      >
        <option *ngFor="let red of redes" [value]="red.idSocial">
          {{ red.nombre }}
        </option>
      </select>

      <table class="product-tableu">
        <thead class="theadu">
          <tr class="tru">
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="redes && redes[valorIDRedRestado]">
          <tr *ngFor="let producto of redes[valorIDRedRestado].productos">
            <td>{{ producto.nombre }}</td>
            <td><img [src]="producto.imagen" alt="" /></td>
            <td>
              <button
                class="btnEditaru"
                (click)="habilitarModal(producto.idProducto, producto.nombre)"
              >
                Editar
              </button>
              <button
                class="btnEliminaru"
                (click)="eliminarProducto(producto.idProducto)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</div>
