
<ng-container *ngIf="verModal">
    <div class="container-modal">
        <div class="content-modal">
            <div class="modal-header">
                <h1>Seguidores</h1>
                <div class="btn-cerrar">
                    <button (click)="cerrarModal()">Cerrar</button>
                </div>
            </div>
            <table *ngIf="redes && redes[valorIDRedRestado].productos" >
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
                <div *ngFor="let producto of redes[valorIDRedRestado].productos">
                <tr  *ngFor="let productos_cantidad of producto.productos_cantidad">
                    <div *ngIf="compararClavesPrimarias(valorIDProducto, productos_cantidad.idProducto)">
                    <td>{{nombreProducto}}</td>
                    <td>{{productos_cantidad.cantidad}}</td>
                    <td>{{productos_cantidad.precio | currency}} </td>
                    <td>
                        <input type="button"  class="boton" style="background-color: #B08632;" name="editar" id="" value="Editar" >
                        |
                        <input type="button" class="boton" style="background-color: #952222;" name="eliminar" id="" value="Elminar" (click)="eliminarProducto()">
                    </td>
                    </div>
                </tr>
                 </div>
            </table>
        </div>
    </div>
</ng-container>


<div class="container-admin">
    <table >
        <thead>
                <h3>Administrador</h3>
                <button class="btnAgregarProducto">Agregar Producto</button>
                <select *ngIf="redes" [(ngModel)]="valorIDRed" (change)="cambiarValorIDRed($event)">
                    <option *ngFor="let red of redes" [value]="red.idSocial">{{red.nombre}}</option>
                  </select>
                  
        </thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        <div class="divFor" *ngIf="redes && redes[valorIDRedRestado]" >
        <tr *ngFor="let producto of redes[valorIDRedRestado].productos">
            <td>{{producto.nombre}}</td>
            <td><img [src]="'assets/'+producto.imagen" alt=""></td>
            <td>
                <input type="button"  class="boton" style="background-color: #B08632;" name="editar" id="" value="Editar" (click)="habilitarModal(producto.idProducto, producto.nombre)">
                |
                <input type="button" class="boton" style="background-color: #952222;" name="eliminar" id="" value="Elminar" (click)="eliminarProducto()">
            </td>
        </tr>
    </div>
   
    </table>
    
</div>
