<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>sobre la empresa</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy plicy</a></li>
                        <li><a href="#">affiliate</a></li>

                    </ul>
                
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                
            </div>
            <div class="footer-col">
                <div class="logo-footer">
                    <img src="../../assets/logo.png" alt="">
                </div>
                <h5 class="footer-texto">Conseguí todo lo que necesitas para tu red social en un mismo lugar!</h5>
                
            </div>
        </div>
    </div>
</footer>