body {
  font-family: Arial, sans-serif;
  height: 85vh;
}


.section-header {
  text-align: center;
}



.background {
  background-color: #ffffff;
  padding: 20px;
}

.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divcol2 {
  width: 50%;
  padding: 0;
  border: 1px solid #432d59;
  border-radius: 15px;
  margin-top: 40px;
}


@media (max-width:700px){
  body {
  font-family: Arial, sans-serif;
  height: 85vh;
  margin-bottom: 200px !important;
}
}

@media (max-width:1100px){
  .divcol2{
    width: 85%;
  }
}

.div-card-tittle {
  text-align: center;
}

.titulo-card {
  font-size: 20px;
}

.div-card-body {
  text-align: center;
}

.imagen {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.precio-producto {
  font-size: 24px;
}

.select-cantidad,
.input-usuario {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

i {
  font-style: italic;
}



/*FORMUALRIO**/

.btn {
  
  padding: 15px;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 92%;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin: 0 auto;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn {
  background-image: linear-gradient(
    to right,
    #c789af 0%,
    #9e1f82 51%,
    #9411a0 100%
  );
}


input:focus {
  border: 3px solid rgb(216, 149, 186);
  background-color: #fdf9fd;
  border-radius: 10px;
  outline: none;
}

input {
  padding: 8px 16px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-weight: 100;
  box-sizing: border-box;
  margin: 0px 20px;
}

select {
  padding: 8px 16px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-weight: 100;
  margin: 0px 20px;
}

select:focus {
  border: 3px solid rgb(216, 149, 186);
  background-color: #fdf9fd;
  border-radius: 10px;
  outline: none;
}

.producto img {
  width: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
}

h4 {
  font-weight: 100;
  font-size: 24px;
}

h2.precio-producto{
  background-color: white !important;
  color: #9e1f82 !important;
  font-weight: 600;
  font-size: 28px;
}

h4.titulo-card{
  background-color: #432d59;
  color: white;
  padding: 10px;
  margin: 0 0 15px 0;
  border-radius: 15px 15px 0 0;
  font-size: 20px;
  font-weight: 500;
}
