<app-header class="navbar"></app-header>

<body>
  <section class="container">
    

    <main>
      <div class="background">
        <div class="div-container">
          <div class="divcol2">
            <div class="div-card-tittle" *ngIf="redes != null">
              <h4 class="titulo-card">
                {{ redes[idred].productos[idprod].nombre }} de
                {{ redes[idred].nombre }}
              </h4>
            </div>
            <div class="div-card-body" *ngIf="this.redes != null">
              <img class="imagen" [src]="redes[idred].imagen" alt="" />
              <div *ngIf="redes != null">
                <h2 class="precio-producto">{{monedaAcual}} {{calcularPrecio(redes[idred].productos[idprod]) | currency}}</h2>
              </div>
              <ul>
                <li>
                  <h4>Cantidad:</h4>
                  <div class="caja">
                    <select class="select-cantidad" name="" id="" *ngIf="redes != null" (change)="calcularIndex($event)">
                      <option *ngFor="let producto_cantidad of redes[idred].productos[idprod].productos_cantidad; let i = index" [value]="i">{{producto_cantidad.cantidad}}</option>
                    </select>
                  </div>
                </li>
                <li>
                  <h4>Usuario:</h4>
                  <div class="caja">
                    <input [(ngModel)]="usuario" class="input-usuario" type="text" />
                  </div>
                </li>
              </ul>
              <button class="btn" (click)="crearProducto(redes[idred].nombre,redes[idred].productos[idprod].nombre,redes[idred].productos[idprod].imagen,redes[idred].productos[idprod].productos_cantidad[indexCalcularPrecio][variablePrecio] ,redes[idred].productos[idprod].productos_cantidad[indexCalcularPrecio].cantidad)">Agregar al Carrrito</button>
              
              <ul>
                <li><i>Garantía</i></li>
                <li><i>Entrega Inmediata</i></li>
                <li><i>Pago Seguro</i></li>
                <li><i>Soporte por Formulario de Contacto</i></li>
              </ul>

              
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</body>


<app-footer></app-footer>
  <!-- Otros elementos HTML y scripts, si los tienes -->

