.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  padding-top: 3rem; /* Adjust the padding value as needed */
  padding-bottom: 0.25rem; /* Adjust the padding value as needed */
  margin-top: 1.25rem; /* Adjust the margin value as needed */
}

.header {
  margin-top: 1.25rem; /* Adjust the margin value as needed */
}

.div-content {
  padding: 0.75rem; /* Adjust the padding value as needed */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.identidad {
  font-size: 2.5rem; /* Adjust the font size as needed */
  font-weight: normal; /* 'normal' is the same as 400. You can also use numeric values like 400 for normal, 700 for bold, etc. */
}

.descrip {
  font-size: 1.25rem; /* Adjust the font size as needed */
  color: #6c757d; /* Replace with your desired muted text color */
}

.background {
    background-position: 100%;
    background-size: cover;
    border-radius: 0.3rem!important;
    box-sizing: border-box;
    display: block;
}

.div-container {
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #f0f0f0;

  @media (min-width: 768px) {
    .row {
      flex-wrap: wrap;
    }
  }
}

.divcol1 {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.divcol2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.devicol2-content {
  border-radius: 0.3rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid #800080;
}

.div-card-tittle {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  background-color: #800080;
  border: 1px solid #800080;
}

.titulo-card {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.div-card-body{
    position:flex;
    padding:1rem;
    box-sizing:border-box;
    text-align:center;
}

.imagen{
    height:100px;
    overflow-clip-margin: content-box;
    overflow:clip;
}

.precio-producto{
    font-weight: bold;
    color: #ff69b4;
}

.caja{
    margin-bottom: 1rem;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.select-cantidad{
    margin-bottom: 1rem!important;
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;

}
