<app-header></app-header>
<body>
  <div class="wrap cf" *ngIf="carrito.productos.length">
    <div class="heading cf">
      <h1>Mi Carrito</h1>
      <a href="#" class="continue">Continuar Comprando</a>
    </div>
    <div class="cart">
      <ul class="cartWrap">

        <li class="items odd" *ngFor="let producto of carrito.productos; let i = index">
          <div class="infoWrap">
            <div class="cartSection">
              <img
                src="{{ producto.productoimg }}"
                alt=""
                class="itemImg"
              />
              <h3>{{producto.redSocial}}</h3>

              <p> {{producto.producto}} x {{producto.cantidad}} ${{producto.precio}}</p>
              <p class="stockStatus">En Stock</p>
              <br>
              <p> Usuario: {{producto.usuario}}</p>
          
            </div>
            <div class="prodTotal cartSection">
              <p>${{producto.precio}}</p>
            </div>
            <div class="cartSection removeWrap">
              <a class="remove" (click)="eliminarProducto(producto)">x</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="subtotal cf">
      <ul>
        <p class="totalRow final">
          <span class="label">Total</span><span class="value">{{ getTotal(carrito.productos) | currency }}</span>
          <button class="btnpagar totalRow " *ngIf="monedaActual" (click)="pagarMP()">Pagar con Mercado Pago</button>
          <button class="btnpagar" *ngIf="!monedaActual" (click)="pagarPaypal()">Pagar con Paypal</button>
        </p>
      </ul>
    </div>
  </div>

  <!--   <div class="order-summary">
    <h2 class="order-summary-title">Resumen de Orden</h2>
    <mat-card class="order-card">
      <div class="order-total">
        <p>Total:</p>
        <p class="order-total-amount">{{ getTotal(carrito.productos) | currency }}</p>
      </div>
      <button mat-button class="checkout-button" *ngIf="!monedaActual" (click)="pagarMP()">Pagar con Mercado Pago</button>
      <button mat-button class="checkout-button" *ngIf="!monedaActual" (click)="pagarPaypal()">Pagar con Paypal</button>
    </mat-card>
  </div> -->

  <div *ngIf="!carrito.productos.length" class="empty-cart">
    <p>Su carrito está vacío.</p>
    <button class="btn-vacio" routerLink="/home">Click para seleccionar productos</button>
  </div>



</body>

<script src="https://sdk.mercadopago.com/js/v2"></script>
