/* Estilos para el menú principal */

body{
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #a5046d;
  padding: 5px 0px;
  width: 100%;
  justify-content: space-around;
  height: 7%;
}

.logo img {
  height: 70px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
}

@media (max-width: 768px) {
  .menu li a {
    color: black;
  }
}
 
mat-icon.mat-icon.notranslate.mat-badge.mat-white.mat-badge-warn.material-icons.mat-ligature-font.mat-icon-no-color.mat-badge-overlap.mat-badge-above.mat-badge-after.mat-badge-medium.mat-badge-hidden {
  color: white;
}

.logo img {
  height: 50px;
}


.submenu li a {
  color: black;
}

a.dropdown-toggle{
  cursor: pointer;
}

.dropdown .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  white-space: nowrap;
}

.dropdown:hover .submenu {
  display: block;
  white-space: normal;
  width: 120px;
}

.dropdown .submenu li {
  list-style-type: none;
}

/* Estilos para dispositivos móviles y menú hamburguesa */
@media screen and (max-width: 768px) {
  .menu {
    display: none; /* Ocultar el menú principal en pantallas pequeñas */
  }


  .navbar-toggle {
    display: block; /* Mostrar el botón del menú hamburguesa en pantallas pequeñas */
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
  }

  .toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #f1f1f1;
    margin-bottom: 4px;
  }

  /* Mostrar el menú hamburguesa cuando se hace clic en el botón */
  .menu.mobile-menu {
    display: block;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    z-index: 9999;
  }

  .menu li {
    margin-bottom: 10px;
  }

  /* Asegurarse de que el submenú ocupe todo el ancho de la pantalla */
  .dropdown .submenu {
    position: static;
    display: none;
    margin-left: 0;
    width: 100%;
  }

  /* Mostrar el submenú cuando se hace clic en el menú desplegable */
  .dropdown.open .submenu {
    display: block;
  }
}

@media (min-width: 768px) {
  button.navbar-toggle {
    display: none; /* Ocultar el menú principal en pantallas pequeñas */
  }

}


/*ANIMACION ENTRADA*/

