<nav class="navbar">
  <a href="#" class="logo"
    ><img src="assets/logo.png" alt="Descripción del logo"
  /></a>
  <button class="navbar-toggle">
    <span class="toggle-icon"></span>
    <span class="toggle-icon"></span>
    <span class="toggle-icon"></span>
  </button>
  <ul class="menu">
    <li class="dropdown" *ngFor="let red of redes; let i = index">
      <a href="#" class="dropdown-toggle">{{red.nombre}}</a>
      <ul class="submenu">
        <li *ngFor="let producto of red.productos; let i = index"><!-- <a href="#"> -->{{producto.nombre}}<!-- </a> --></li>
      </ul>
    </li>
<!--     <li class="dropdown">
      <a href="#" class="dropdown-toggle">Elemento 2</a>
      <ul class="submenu">
        <li><a href="#">Submenú 2.1</a></li>
        <li><a href="#">Submenú 2.2</a></li>
        <li><a href="#">Submenú 2.3</a></li>
      </ul>
    </li> -->
    <!-- Agrega más elementos de menú -->
  </ul>
</nav>
