<nav class="navbar">
  <a href="#" class="logo">
    <img src="assets/logo.png" alt="Descripción del logo" />
  </a>
  <button class="navbar-toggle" (click)="toggleMobileMenu()">
    <div class="toggle-icon"></div>
    <div class="toggle-icon"></div>
    <div class="toggle-icon"></div>
  </button>

  <ul class="menu" [class.mobile-menu]="mobileMenuOpen">
    <li class="dropdown" *ngFor="let red of redes; let j = index">
      <a (click)="toggleSubmenu(j)" class="dropdown-toggle" (click)="redirigirPaginaProducto(red.idSocial)">{{ red.nombre }}</a>
      <ul class="submenu">
        <li *ngFor="let producto of red.productos; let i = index">
          <a [routerLink]="['/service', j, i]">{{ producto.nombre }}</a>
        </li>
      </ul>
    </li>
  </ul>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="cantidadProductosCarrito"
      [matBadgeHidden]="!cantidadProductosCarrito"
      matBadgeColor="warn"
    >
      shopping_cart
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="mat-menu">
    <div
      class="divzin1"
      style="
        padding: 1rem;
        border-top: 1px solid black;
        border-top-style: solid;
      "
    >
      <div
        class="divzin2"
        style="
          padding-bottom: 0.75rem;
          display: flex;
          justify-content: space-between;
        "
      >
        <span class="divzin3" style="margin-right: 16px">
          {{ cantidadProductosCarrito }} Productos</span
        >
      </div>
      <div
        class="divzin4"
        style="padding-top: 0.75rem; padding-bottom: 0.75rem"
      >
        <div
          *ngFor="let producto of carrito.productos; let i = index"
          class="divzin5"
          style="
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            margin-bottom: 0.5rem;
          "
        >
          <span class="divzin6" style="margin-right: 1rem"
            >{{ producto.producto }} {{ producto.redSocial }} x
            {{ producto.cantidad }} en {{ producto.usuario }}</span
          >
          <span class="divzin6" style="font-weight: 700; text-align: center">{{
            producto.precio | currency
          }}</span>
        </div>
      </div>
      <div
        class="divzin7"
        style="
          display: flex;
          justify-content: space-between;
          padding-top: 0.75rem;
          font-weight: 300;
        "
      >
        Total:
        <span class="divzin8" style="font-weight: 700">{{
          getTotal(carrito.productos) | currency
        }}</span>
      </div>
      <div
        class="divzin9"
        style="
          padding-top: 0.75rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        "
      >
        <button
          (click)="limpiarCarrito()"
          style="
            background-color: #fecdd3;
            color: #ffffff;
            border-radius: 9999px;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 1rem;
          "
        >
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>

        <button
          mat-button
          routerLink="/cart"
          style="
            background-color: #34d399;
            color: #ffffff;
            font-weight: 700;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 0.25rem;
          "
        >
          Finalizar Compra
        </button>
      </div>
    </div>
  </mat-menu>
</nav>
